/cjdns-v17.3.tar.gz
/cjdns-v17.4.tar.gz
/cjdns-v18.tar.gz
/cjdns-v19.1.tar.gz
/cjdns-v20.tar.gz
/cjdns-v20.1.tar.gz
/cjdns-v20.2.tar.gz
/cjdns-cjdns-v*/
/results_cjdns
/*.src.rpm
/.build-*
/cjdns-v20.3.tar.gz
/marked-man-0.7.0.tar.gz
